.container {max-width: 800px; margin: 0 auto; overflow: auto;}

h3 {padding-top: 18px;}
h1 {font-size: 36px;}

table {border-spacing: 0;}
tbody tr:nth-child(odd) {background-color: #f3f3f3;}
thead {text-align: left; font-family: Helvetica, Arial, sans-serif;}
td {min-width: 140px; vertical-align: top; padding: 8px;}
td a {line-height: 24px;}
tr {height: 50px;}
ul, ol {text-indent: 0; margin: 0; padding-left: 20px;}
ul li {padding-bottom: 6px; line-height: 22px;}

footer {padding-top: 20px; margin-top: 60px; border-top: 1px solid #CCF4FF;  -webkit-column-count: 6; column-count: 6; -webkit-column-gap: 20px; column-gap: 20px; -moz-column-count: 6; -moz-column-gap: 20px; height: 125px;}
footer ul {list-style: none; padding-left: 0px; font-family: Libre Baskerville, Baskerville, Georgia, serif;}
footer li {line-height: inherit; font-size: 10px;}
footer h4 {font-size: 10px; -webkit-column-break-before: always; break-before: always; -moz-column-break-before: always; }
footer h4 {margin-top: 0px;}
footer a {border: none;}

.half {max-width: 50%; display: inline-block; vertical-align: top;}
.half:nth-child(odd) {padding-left: 20px;}

/* older css */

body {font-family: Libre Baskerville, Baskerville, Georgia, serif; font-size: 14px; background: #fff; color: #333;  border: 10px #47CCFC solid; margin: 0px; padding: 20px 20px 100px 20px; }
h1, h2, h3, h4, h5, h6 {font-family: Helvetica, Arial, sans-serif;}
h2 {margin-top: 40px;}

img {width: 100%;}

p a, a {color: #333; text-decoration: none; padding-bottom: 0px; border-bottom: 2px #CCF4FF solid;}
a:hover {color: #47CCFC;}
a:active {color: #47CCFC;}
/*a:visited {color: #333;}*/
small {padding: 10px 0px;}
p, ol {line-height: 24px;}

pre {word-wrap: break-word; padding: 6px; background: #f0f0f0;}
code {font-family: "Consolas", "Ubuntu Mono", monospace; line-height: 22px; background: #f0f0f0; color: #636363; font-weight: normal;}

/* funsies */
::selection {background: #44FFB4;}
::-moz-selection {background: #44FFB4;}

/* Table */
.ssExample table {min-width: 600px;}
.tHeader::after {content: " \2193 \2191 "; font-size: 10px; padding-left: 3px; cursor: hand;}

/* Map Popup Style */
.leaflet-popup-content h2 {margin-bottom: 4px; margin-top: auto;}
