<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description" content="sheetsee.js, google, spreadsheet, visualize, data, javascript">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>such site, very sheetsee.js</title>
    <link rel="shortcut icon" href=""/>
    <link href='../assets/style.css' rel='stylesheet'>
  </head>
  <body>
    <div class="container">
    {{{content}}}
    </div>
  </body>
</html>